h1 {
  margin: 0;
}

.nav-bar {
  position: sticky;
  top: 0;
}

.container {
  max-width: max-content;
  border-radius: 30px;
  background-color: #fff;
}

#cover {
  background-color: #0c4894;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  height: 400px;
  width: 500px;
}

#intro h1 {
  font-size: 11em;
  color: #fff;
  text-align: center;
  font-family: "League Spartan";
}

.justify-center {
  display: flex;
  justify-content: space-evenly;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  scroll-snap-type: x mandatory; /* Smooth scrolling */
  scroll-behavior: smooth; /* Smooth scroll behavior */
}

#projects::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

#project-grid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35rem;
  height: 40rem;
  margin-right: 5rem;
}
